body {
    background-image: url("../assets/Lebron vs Jordan.webp");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.dash-graph {
    display: inline;
}

#stats-div,
#stats-div-avg,
#stats-div-eff,
#stats-div-cumulative {
    display: flex;
    flex-direction: row;
}

.Select--single>.Select-control .Select-value,
.Select-placeholder {
    background-color: rgb(255, 255, 255, 0.40);
    color: black
}

#total-dropdown,
#averages-dropdown,
#efficiency-dropdown,
#season-dropdown,
#cumulative-dropdown {
    margin-bottom: 10px
}


#sub-heading,
#sub-heading-avg,
#sub-heading-eff,
#sub-heading-cumulative {
    display: inline-flex;
    margin-left: 20px;
    justify-content: start;
    flex-direction: column;
}

#main-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lebron-stats-total,
#jordan-stats-total,
#lebron-stats-averages,
#jordan-stats-averages,
#lebron-stats-efficiency,
#jordan-stats-efficiency,
#lebron-stats-cumulative,
#jordan-stats-cumulative {
    display: inline-flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    border: 5px solid rgb(0, 0, 0, 0.40);
    border-radius: 10px;
    margin-bottom: 15px
}